{% extends 'shared/base.html' %}

{% block content %}
    <div class="template-container-user-home">
        {% if personal_info %}
            {% for info in personal_info %}
                <div class="template-item-user-home">  
                    Personal info
                    <hr>
                     <div class="template-item-user-home-img">
                        <img scr={{info.photo.url}}>
                    </div>
                        {{info.first_name}} {{info.last_name}}
                    <hr>
                        Skills
                        <ul>
                        {% for skill in skills %}
                            <li>
                             {{skill|linebreaks}}
                            </li>
                        {% endfor %}
                        </ul>
                    <hr>
                        Education
                        <ul>
                        {% for edu in education %}
                            <li>
                            {{edu|linebreaks}}
                            </li>
                        {% endfor %}
                        </ul>
                    <hr>
                        Employment History
                        <ul>
                        {% for empl in empl_history %}
                            <li>
                            {{empl|linebreaks}}
                            </li>
                        {% endfor %}
                        </ul>
                    <hr>
                        Languages
                        <ul>
                        {% for language in languages %}
                            <li>
                            {{language|linebreaks}}
                            </li>
                        {% endfor %}
                        </ul>
                    <hr>
                    <hr>
                    <a href="{% url 'template render' %}" class="general-btn">Use that</a>
                    <a href="{% url 'template remove personal info' info.id %}" class="general-btn">Remove</a>            
                </div>
                {% endfor %}
        {% else %}
            No saved data
        {% endif %}     
        
    </div>
{% endblock content %}






