{% extends 'home_page.html' %}
{% load static %}
 
{% block content %}
    <div class="login-register-backgound">
        <img src={% static 'img/background/login_bg.jpg' %}>
    </div>
    <div class="auth">
   
        <div class="form-box">
            <div class="button-box">
                <div id="btn-login"></div>      
                <a class="toggle-btn" href="{% url 'login' %}">LogIn</a>
                <a class="toggle-btn" href="{% url 'register' %}">Register</a> 
            </div>
                <form class='data-input-auth' method='POST' action="{% url 'login' %}">
                    {% csrf_token %}
                    {{form.errors}}
                    <hr>
                    {{form.email}}
                    {{form.password}}
                    <hr>
                    {{form.errors}}
                    <input id='btn-submit' type='submit' value="Submit">
                    <hr>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

