{% extends 'shared/base.html' %}

{% block content %}
    <div class="template-item-details">
        <img src="{{template.image.url}}">
    {% if request.user.is_authenticated %}
    <div>
        <a class="general-btn" href="{% url 'select template' template.id%}">Edit</a>
    </div>
    {% else %}
    <div>
        <a class="general-btn" href="{% url 'login' %}">Login to Edit</a>
    </div>
    {% endif %}
    <div>
        <a class="general-btn" href="{% url 'all templates'%}">Back</a>
    </div>
    </div>
    
{% endblock content %}

