body {
    width: 80%;
    margin: auto auto;
}

h3 {
    margin-left: 40%;
}

body img {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

.resume-head-wrapper {
    background-color: #7fffd4a8;
    display: flex;
    font-size: 15px;
    margin-bottom: 25px;
    margin-top: 25px;
    height: 38%;
    align-content: space-around;
    justify-content: flex-start;
    align-items: flex-start;
    border: 3px solid black;
}
.resume-profile-image {
    width: 10%;
}

.personal-data {
    margin-left: 15%;
    border-left: 3px solid black;
    padding-left: 20px;
}

.resume-profile-image img {
    margin-left: 51px;
}

.info-wrapper {
    display: flex;

}
.left-side {
    border: 3px solid;
    font-size: 18px;
    display: flex;
    background-color: #a9fde2;
    margin-right: 20px;
    width: 34%;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}
.right-side {
    width: 100%;
    background-color: #eae8e8d4;
    display: flex;
    justify-content: space-around;
}

.right-side .info {
    width: 80%;
}

.resume-footer {
    
    background-color: #7fffd4a8;
    display: flex;
    margin-top: 20px;
}