body {
    width: 80%;
    margin: auto auto;
}

h3 {
    margin-left: 40%;
}

body img {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

.general-btn {
    display: block;
    /* width: 120px; */
    height: 45px;
    margin: auto;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }

.resume-head-wrapper {
    background-color: #ffbcbc;
    display: flex;
    font-size: 15px;
    margin-bottom: 25px;
    margin-top: 25px;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid black;
}
.resume-profile-image {
    width: 10%;
}

.personal-data {
    margin-left: 15%;
    border-left: 3px solid black;
    padding-left: 20px;
}

.resume-profile-image img {
    
}

.info-wrapper {
    display: flex;

}
.left-side {
    border: 3px solid;
    font-size: 18px;
    display: flex;
    background-color: #ffbcbc;
    margin-right: 20px;
    width: 34%;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}
.right-side {
    width: 100%;
    background-color: #eae8e8d4;
    display: flex;
    justify-content: space-around;
}

.right-side .info {
    width: 80%;
}

.resume-footer {
    height: 7%;
    background-color: #ffbcbc;
    display: flex;
    margin-top: 20px;
}