{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    <div class="auth">
    <div style="font-size: 20px; display: flex; justify-content: space-around;">Employment History</div>
        <div class="resume-info-wrapper">
            <div class="left-side">
                <h3>
                <form class='data-input' method='POST' action="{% url 'template empl history' %}">
                    {% csrf_token %}
                    <div class="data-input-wrapper">
                    {% for field in form %}
                        <div class="data-input-field">
                            {{ field }}
                        </div>
                    {% endfor %}
                    {% if form.errors %}
                        {% for error in form.errors %}
                                {{error}}
                        {% endfor %} 
                    {% endif %}
                    </div>
                    <input id='btn-submit' type='submit' value='Add'> 
                    
                    {% for empl in empl_history %}
                        <p>{{empl|linebreaks}}</p>
                        <a href="{% url 'template remove empl history' empl.id %}" class="general-btn">Remove</a>
                    {% endfor %}
                    <hr>
                    <div>
                        <a href="{% url 'template languages' %}" class="general-btn">Next</a> 
                    </div>
                    <hr>
                </h3>
                </form>
                </div> 
                
            <div class="right-side">
                <img src={% static 'img/background/empl_history_bg.jpg' %} style="width:30%; margin-left:30%;">
            </div>
        </div>

    </div>
{% endblock content %}
