{% extends 'shared/base.html' %}
{% block content %}
    <div class="auth">
    <div style="font-size: 20px; display: flex; justify-content: space-around;">Employment History</div>
        <h3>
        <form class='data-input' method='POST' action="{% url 'template empl history' %}">
            {% csrf_token %}
            <hr>
            {{ form.as_p }}
            <hr>
            <input id='btn-submit' type='submit' value='Next'> 
            <hr>  
        </form>
        </div> 
        </h3>
    </div>
{% endblock content %}
