{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    <div class="auth">
        <div style="font-size: 25px; font-weight: bold; text-align:center; margin-top: 20px;">Personal info</div>
        <div class="resume-info-wrapper">
            <div class="left-side">
                <h3>
                <form class='data-input' method='POST'enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="data-input-wrapper">
                    <h2>Upload photo</h2>
                    {% for field in form %}
                        <div class="data-input-field">
                            {{ field }}
                        </div>
                    {% endfor %}
                    {{form.errors}}
                    </div>
                    <input id='btn-submit' type='submit' value='Add'> 
                    <hr>
                </form>
            </div> 
                </h3>
            <div class="right-side">
                <img src={% static 'img/background/personal_info_bg.jpg' %} style="width:70%; margin-left: 35%;">
            </div>
        </div>
        </div>   
    </div> 
        </h3>
    </div>
{% endblock content %}


