body {
    width: 80%;
    margin: auto auto;
    background-image: url('office-desk-wallpaper.jpg');
}
.resume-head-wrapper {
    background-color: #7fffd4a8;
    display: flex;
    margin-bottom: 25px;
}
.resume-profile-image {
    width: 10%;
}

.personal-data {
    margin-left: 15%;
}

.resume-profile-image img {
    border-radius: 35%;
}

.info-wrapper {
    display: flex;

}
.left-side {
    display: block;
    background-color: #eae8e8d4;
    margin-right: 20px;
}
.right-side {
    width: 100%;
    background-color: #eae8e8d4;
    display: flex;
    justify-content: space-around;
}

.resume-footer {
    
    background-color: #7fffd4a8;
    display: flex;
    margin-top: 20px;
}