{% extends 'shared/base.html' %}
{% load static %}
{%block title%} Welcome {% endblock %}


{% block content %}
    <div class="backround-img">
        <img src={% static 'img/Background/workspace-desk.jpg' %}>
    <div class="home-page-text">
            <h1>Resume Builder</h1>
            <h2>Make a Resume Online—Quick and Easy</h2>
            <div class="home-page-btn">
                <a href="{% url 'all templates' %}">Make My Resume</a>
            </div> 
    </div>
    </div>
    
{% endblock %}

{% include "shared/footer.html "%} 
    

