{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
    <div class="template-container" style="width:75%">
        {% for template in templates %}
            <div class="template-item">
                <img src="{{template.image.url}}">
             <div>
                <a class="general-btn" href="{% url 'template details' template.id %}" style='width:120px;'>Details</a> 
            </div>                 
            </div>     
        {% endfor %}
    </div>
{% endblock content %}


