{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<div class="summary-personal-info">
    <hr>
        <b>SUMMARY</b>
    <hr>
        <b>Personal info</b>
        <ul>
        {% for info in personal_info %}{% endfor %}
           <li> {{info}} </li>    
        </ul>
    <hr>
       <b> Skills</b>
    <hr>
        <ul>
        {% for skill in skills %}
            <li>
            {{skill}}
            </li>
        {% endfor %}
        </ul>
    <hr>
        <b>Education</b>
    <hr>    
        <ul>
        {% for edu in education %}
            <li>
            {{edu}}
            </li>
        {% endfor %}
        </ul>
    <hr>
        <b>Employment History</b>
    <hr>
        <ul>
        {% for empl in empl_history %}
            <li>
            {{empl}}
            </li>
        {% endfor %}
        </ul>
    <hr>
        <b>Languages</b>
    <hr>
        <ul>
        {% for language in languages %}
            <li>
            {{language}}
            </li>
        {% endfor %}
        </ul>
    <hr>
    <hr>
    <a href="{% url 'template render' %}" class="general-btn">That O.K. Finish</a>
</div>
{% endblock content %}


