{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<div class="summary-personal-info">
    <hr>
        <b>SUMMARY</b>
    <hr>
        <b>Personal info</b>
        <ul>
            <img src={{personal_info.photo.url}} alt="user photo" style="width: 216px;">
            <li> {{personal_info.first_name}} </li> 
            <li> {{personal_info.last_name}} </li> 
            <li> {{personal_info.address}} </li> 
            <li> {{personal_info.city}} </li>
            <li> {{personal_info.contact_email}} </li>    
            <li> {{personal_info.country}} </li> 
            <li> {{personal_info.about_me}} </li> 
        </ul>
    <hr>
       <b> Skills</b>
    <hr>
        <ul>
        {% for skill in skills %}
            <li>
            {{skill}}
            </li>
        {% endfor %}
        </ul>
    <hr>
        <b>Education</b>
    <hr>    
        <ul>
        {% for edu in education %}
            <li>
            {{edu}}
            </li>
        {% endfor %}
        </ul>
    <hr>
        <b>Employment History</b>
    <hr>
        <ul>
        {% for empl in empl_history %}
            <li>
            {{empl}}
            </li>
        {% endfor %}
        </ul>
    <hr>
        <b>Languages</b>
    <hr>
        <ul>
        {% for language in languages %}
            <li>
            {{language}}
            </li>
        {% endfor %}
        </ul>
    <hr>
    <hr>
    <a href="{% url 'template render' %}" class="general-btn">That O.K. Finish</a>
</div>
{% endblock content %}


